body {
    padding-top: 0;
    padding-bottom: 20px;
    background-color: whitesmoke;
/*    background-image: url('/images/pattern.png');*/
/*    background-repeat: repeat;*/
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#header h1 {
    margin: 0;
}